@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");
@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";

@theme {
  --animate-fade-up: fade-up 0.8s ease-out forwards;
  --animate-fade-down: fade-down 0.8s ease-out forwards;

  @keyframes fade-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-down {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
